{% extends 'base.html.twig' %}


{% block body %}

<div class="example-wrapper">
<h1>{{ about }} </h1>
    <hr/>
    <div>
         <span class="mt-0 px-2 text-info">This is some information feature.. Please go through this section.</span>
    </div>
    <div>
         <span class="mt-0 px-2 text-success">This is some of our successful work feature..</span>
    </div>
</div>
{% endblock %}